<footer class="container-fluid text-center" style="margin-top: 60px;">
    <p>Made by Ysama</p>
    <p></p>
</footer>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/extend/layer/layer.js"></script>
<script type="text/javascript">
        function set_height() {
            $width = $(".bg-img").width();
            $height = $width * 0.499;
            $(".bg-img").css("height",$height);
        }
        set_height();
    </script>
</body>
</html>