{include file="index/header" title="Ysama~music"}
<style type="text/css">
    a {
        color: inherit;
    }
    a:hover,a:link,a:visited {
        color: inherit;
    }
</style>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 panel-group">
        <div>
            <img class="img-rounded" src="/static/picture/test.png" style="float: left;" />
        </div>
        <div class="col-lg-10">
            <h3 class="col-lg-3 text-center" style="margin: 0 0 5px"><a class="col-lg-12" href="">伊飘雪</a></h3>
            <div class="col-lg-12" style="border-top: 1px solid #ccc;height: 1px;border-radius: 49%;margin: 5px 0;"></div>
            <div class="col-lg-12">
                <a class="col-lg-2 text-center" style="" href=""><strong>12</strong><br><span>动态</span></a>
                <a class="col-lg-2 text-center" href=""><strong>12</strong><br><span>关注</span></a>
                <a class="col-lg-2 text-center" href=""><strong>12</strong><br><span>粉丝</span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 panel-group" style="border: 1px solid #ccc;height: 1px;border-radius: 50%;"></div>
    <div class="col-lg-8 col-lg-offset-2">
        <table class="table">
            <caption>所有音乐</caption>
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="30%">Music Name</th>
                    <th width="30%">Singer Name</th>
                    <th width="35%">Times</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td><a href="javascript:void(0);">Mark</a></td>
                    <td><a href="javascript:void(0);">Otto</a></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" 
                                aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                <span class="sr-only">40% 完成</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="active">
                    <th>2</th>
                    <td><a href="javascript:void(0);">Mark</a></td>
                    <td><a href="javascript:void(0);">Thornton</a></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" 
                                aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                <span class="sr-only">40% 完成</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>3</th>
                    <td><a href="javascript:void(0);">Mark</a></td>
                    <td><a href="javascript:void(0);">the Bird</a></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" 
                                aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                <span class="sr-only">40% 完成</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{include file="index/footer"}