{include file="index/header" title="Ysama~music"}
<style type="text/css">
    a {
        color: inherit;
    }
    a:hover,a:link,a:visited {
        color: inherit;
    }
    #music-list td {
        width:100%;
        word-break:keep-all;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
</style>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 panel-group userinfo"></div>
    <div class="col-lg-8 col-lg-offset-2 panel-group" style="border: 1px solid #ccc;height: 1px;border-radius: 50%;"></div>
    <div class="col-lg-8 col-lg-offset-2">
        <table class="table" style="table-layout:fixed;">
            <caption>所有音乐</caption>
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="30%">Music Name</th>
                    <th width="30%">Singer Name</th>
                    <th width="35%">Album</th>
                </tr>
            </thead>
            <tbody id="music-list">
            </tbody>
        </table>
        <div id="music-pagin" class="text-center"></div>
        <iframe class="music_163" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src=""></iframe>

    </div>
</div>

{include file="index/footer"}
<link rel="stylesheet" type="text/css" href="/static/extend/layui/css/layui.css">
<script src="/static/js/music.js"></script>
<script src="/static/extend/layui/layui.js"></script>
<script type="text/javascript">
    var data = get_userinfo();
    layui.use(['laypage', 'layer'], function(){
      var laypage = layui.laypage,layer = layui.layer;
      
      //调用分页
      laypage.render({
        elem: 'music-pagin',
        count: data.length,
        jump: function(obj){
          //渲染
          document.getElementById('music-list').innerHTML = function(){
            var arr = [],
            thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
            layui.each(thisData, function(index, item){
              arr.push('<tr><th>'+item.index+'</th><td><a title="'+item.name+'" href="javascript:music_play('+item.id+');">'+item.name+'</a></td><td><a title="'+item.artists+'" href="http://music.163.com/artist?id='+item.artists_id+'">'+item.artists+'</a></td><td title="'+item.alias[0]+'">'+item.alias[0]+'</td></tr>');
            });
            return arr.join('');
          }();
        }
      });
  
    });
    function music_play(id) {
      $('.music_163').attr("src", "//music.163.com/outchain/player?type=2&id="+ id +"&auto=1&height=66");
    }
</script>