{include file="index/header" title="Ysama~psn"}
<style type="text/css">
	.user-num {
		font-size: 20px;
		height: 50px;
		line-height: 50px;
	}
	.user-num img {
		width: 50px;
		margin-left: 10px;
	}
	.game-box {
		display: inline-block;
		margin-left: 1%;
		width: 23%;
		margin-bottom: 60px;
	}
	.game-img img {
		width: 100%;
	}
	.game-type {
		height: 100px;
	}
	.game-info ul {
		list-style: none;
		padding: 0;
	}
	.game-info li {
		display: inline-block;
	}
	.game-trophies li {
		width: 23%;
	}
	.progress-img {
		width: 77%;
	}
	.progress-num {
		width: 20%;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 panel-group user-info">
			
		</div>
		<div class="col-lg-8 col-lg-offset-2 panel-group" style="border: 1px solid #ccc;height: 1px;border-radius: 50%;"></div>
		<div class="col-lg-8 col-lg-offset-2 panel-group">
			<div class="row text-center game-list">
				
			</div>
		</div>
	</div>
</div>
{include file="index/footer"}
<script src="/static/js/psn.js"></script>
<script type="text/javascript">
	get_psn();
</script>