<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/static/extend/editor/examples/css/style.css" />
        <link rel="stylesheet" href="/static/extend/editor/css/editormd.css" />
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/extend/H-ui/lib/static/h-ui/css/H-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    </head>
    <body>
        <div id="layout">
            <form action="" method="post" class="form form-horizontal" id="form-article-add" style="">
                <div class="col-lg-8 col-lg-offset-3 cl" style="margin-bottom: 15px;margin-top: 15px;">
                    <div class="formControls col-xs-8 col-sm-9">
                        {present name="article"}
                            
                            <input type="text" name="title" value="{$article.article_title}" class="input-text" style=" width:35%">
                            <input type="hidden" name="id" value="{$article.id}">
                            分类
                            <select class="form-control" name="category" style=" width:35%; display: inline-block;">  
                                {volist name='category' id="vo"}
                                <option value="{$vo.id}">{$vo.name}</option>  
                                {/volist}
                            </select>
                        {else /}
                            标题:
                            <input type="text" name="title" placeholder="请输入标题~" value="" class="input-text" style=" width:35%">
                            分类
                            <select class="form-control" name="category" style=" width:35%; display: inline-block;">  
                                {volist name='category' id="vo"}
                                <option value="{$vo.id}">{$vo.name}</option>  
                                {/volist}
                            </select>
                        {/present}
                    </div>
                </div>
                <div id="editormd">
                    {present name="article"}
                        <textarea style="display:none;">{$article.article_con}</textarea>
                    {else /}
                        <textarea style="display:none;"></textarea>
                    {/present}
                </div>
                <div class="text-center" style="margin-bottom: 30px;">
                    <button onclick="article_submit(this);" class="btn btn-primary radius" type="button"><i class="fa fa-floppy-o"></i> 保存并提交</button>
                </div>
            </form>
        </div>
        <script src="/static/extend/editor/examples/js/jquery.min.js"></script>
        <script src="/static/extend/editor/editormd.js"></script>
        {include file="admin/footer"}
        <script type="text/javascript">
            var Editor;
        

            $(function() {                
                Editor = editormd("editormd", {
                    width        : "90%",
                    height       : 720,
                    
                    // Editor.md theme, default or dark, change at v1.5.0
                    // You can also custom css class .editormd-preview-theme-xxxx
                    theme        : (localStorage.theme) ? localStorage.theme : "dark",
                    
                    // Preview container theme, added v1.5.0
                    // You can also custom css class .editormd-preview-theme-xxxx
                    previewTheme : (localStorage.previewTheme) ? localStorage.previewTheme : "dark", 
                    
                    // Added @v1.5.0 & after version is CodeMirror (editor area) theme
                    editorTheme  : (localStorage.editorTheme) ? localStorage.editorTheme : "pastel-on-dark", 
                    path         : '/static/extend/editor/lib/',
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "/admin/imgUpload",
                });
                        
            });

            function article_submit(obj)
            {
                var data = $('#form-article-add').serialize();
                layer.confirm('确认要保存吗？',function(index){
                    $.ajax({
                        url: '/admin/article_edit&'+data,
                        type: 'get',
                        dataType: 'json',
                        success: function(data){
                            if (data.code == 2000) {
                                layer.msg(data.msg,{icon: 6,time:1000});
                            } else {
                                layer.msg(data.msg+',错误代码'+data.code,{icon: 6,time:1000});
                            }
                        }
                    });
                });
            }
        </script>
    </body>
</html>