{include file="admin/header" title="添加分类"}
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			{present name="name"}
				<input type="text" class="input-text" value="{$name.name}" id="name" name="name">
			{else /}
				<input type="text" class="input-text" value="" id="name" name="name">
			{/present}
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

{include file="admin/footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/extend/H-ui/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/static/extend/H-ui/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/static/extend/H-ui/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
</body>
<script type="text/javascript">
$(function(){
	
	$("#form-admin-add").validate({
		rules:{
			name:{
				required:true,
				minlength:1,
				maxlength:16
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('article_category')}" ,
				success: function(data){
					if (data.code = 2000) {
						layer.msg(data.msg,{icon:1,time:1000});
					} else {
						layer.msg('code:'+data.code+' msg:'+data.msg,{icon:1,time:1000});
					}
				},
			});
			
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</html>